<%- include('partials/header'); -%>

    <div class="aboutAnime">
        <p> <i> This post is written by <%= authorName %> on <%= postTime  %> </i> </p>
        <h2> <%= title %> </h2>
        <p> <%= body %> </p>
    </div>
    
    
<%- include('partials/footer'); -%>